@page "/list"
@using KakegoeBlazor.Shared.Models
@inject HttpClient client

<h1>Song List</h1>

<fast-menu>
    @foreach (var song in songs)
    {
        <fast-menu-item>@song.Title</fast-menu-item>
    }
</fast-menu>

@code {
    private IEnumerable<Song> songs = new List<Song>() { };

    protected override async Task OnInitializedAsync()
    {
        songs = await client.GetFromJsonAsync<IEnumerable<Song>>("api/songs");
    }
}
